<img  class="image_header" src="images/image_header.jpg">
<img  class="image_center" src="images/girls.jpg">


<div class="slider"><div id="text_women"><h1>В нас ви зайдете широкий асортимент одягу для <a href="/women">жінок</a> на будь-який смак . Тільки якісний одяг з Європи по розумній ціні !</h1> </div></div>
<div class="container-960">
<div class="pid_slider" ><img src="images/ditu.jpg"><h1>Одяг для маленьких  <a href="kits">перейти</a></h1></div>
<div class="pid_slider" id="block1"><img src="images/osen.jpg"><a href="kits">НОВИНКИ ОСЕНИ 2013</a></div>
<div class="pid_slider" id="block2"><img src="images/akcia.jpg"><a href="kits">Акційний товар по супер цінам !</a></div>
</div>
